@import "../../styles/common";

.User {
	& {
		background #FFF
		width 100%
		border-bottom 1px solid rgba(0,0,0,0.1)
		opacity 0
		transform translateY(40px)
		// position absolute
		position relative
		// left 0
		&:last-child {
			border-bottom 0
		}
		&_preview {
			position relative
			top 0 !important
			height 246px
			width 50%
			display inline-block
			vertical-align top
			padding-bottom 10px
			padding-right 5px
			padding-left 5px
			box-sizing border-box
			background-color transparent
			border-bottom 0
			.User__header, .User__inner {
				opacity 0
				transform translateY(20px)
			}
			@media $tablet {
				height 195px
			}
			@media $verticalTablet {
				height 213px
			}
			@media $phone {
				width 100%
				height auto
				padding 0
				margin-bottom 10px
			}
		}
		&_isvideo {
			width auto
			@media tablet {
				height 196px
			}
		}
	}
	&__inner-cell {
		padding 15px 32px
		display flex
		align-items center
		@media $phone {
			padding 16px
		}
	}
	&__img {
		width 50px
		margin-right 24px
		@media $phone {
			width 40px
			margin-right 16px
		}
		@media $verticalPhone {
			width 32px
			margin-right 8px
		}
		img {
			width 100%
		}
	}
	&__name {
		flex 2
		font-size 22px
		text-transform uppercase
		font-weight $black
		line-height 1.1
		margin-right 10px
		@media $verticalTablet {
			font-size 20px
		}
		@media $phone {
			font-size 16px
		}
		@media $verticalPhone {
			font-size 14px
		}
	}
	&__age {
		flex 1
		font-size 18px
		@media $phone {
			font-size 14px
		}
	}
	&__phone {
		font-size 18px
		padding-right 30px
		@media $phone {
			font-size 14px
		}
	}
	&__phrase {
		line-height 1.2
		font-size 14px
		display inline-block
	}
	&__preview {
		& {
			background #FFF
			height 100%
			width 100%
			position relative
			&:before {
				content ''
				position absolute
				top 0
				left 0
				width 100%
				height 100%
				box-shadow 0 5px 10px rgba(0,0,0,0.4)
				opacity 0.5
				transition opacity $duration
			}
			&:after {
				content: ".";
				display: block;
				height: 0;
				clear: both;
				visibility: hidden;
			}
			&:hover {
				&:before {
					opacity 1
				}
			}
		}
	}
	&__content {
		& {
			width 100%
			padding 15px
			box-sizing border-box
			&_isvideo {
				width 50%
				float left
				border none
				@media $phone {
					width 100%
				}
			}
		}
		
	}
	&__info {
		float left
	}
	&__header {
		width 100%
		display flex
		align-items center
		margin-bottom 10px
	}
	&__video {
		width 50%
		float left
		opacity 0
		video {
			width 100%
			display block
		}
		@media $phone {
			width 100%
		}
	}
}

