@import "../../styles/common";

.UsersBlock {
	& {
		grid-width(7)
		float left
		@media $verticalTablet {
			width 100%
		}
	}
	&__list {
		& {
			display block
			box-sizing border-box
			padding 0
			margin 0
			transition height 1s
			clearfix()
			height calc(100vh - 80px)
			overflow auto
			position relative
			@media $verticalTablet {
				height auto
				overflow initial
			}
		}
		&_table {
			background #FFF
			box-shadow 0 10px 20px rgba(0,0,0,0.2)
		}
		&_preview {
			margin-right -10px
			display flex
			flex-wrap wrap
		}
		&__content {
			& {
				width 100%
				padding 15px
				box-sizing border-box
				&_isvideo {
					width 50%
					float left
				}
			}
			&__header {
				width 100%
				display flex
				align-items center
				margin-bottom 20px
			}
		}
		&__video {
			width 50%
			float left
			video {
				width 100%
				display block
			}
		}
	}
	&__loading {
		width 100%
		display block
		text-align center
		text-transform uppercase
		padding 60px 0
	}
}