@import "../../styles/common"


.SearchField {
	& {
		box-sizing border-box
		position relative
		display block
		position relative
		box-sizing border-box
		border none
		transition opacity $duration
		border-bottom 1px solid $borderColor
		align-self flex-start
		font-size 22px
		max-width 290px
	}
	@media $verticalTablet {
		min-width 290px
		margin-bottom 0
	}
	@media $phone {
		// margin 0 16px
		font-size 16px
	}
	&__field {
		border none
		background none
		color #000
		width 100%
		box-sizing border-box
		&:placeholder {
			color #FFF
		}
	}
}